TELEGRAM_BOT_TOKEN=XXXXXXXXXX:XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
TELEGRAM_USER_ID=7777777777

# powershell/pwsh
WIN_SHELL=pwsh
# sh/bash
LINUX_SHELL=bash

SSH_USER=root
SSH_PORT=22
SSH_HOST_LIST=192.168.3.102,192.168.3.103,lifailon@192.168.3.105:2121
SSH_CONNECT_TIMEOUT=2

LOG_MODE=DEBUG